/* Full Screen Layout */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}

/* Full width sections */
.hero-section,
.offer-section {
  width: 100%;
}

/* Remove unwanted side space */
section {
  width: 100%;
}